body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:429px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:29px;
  width:406px;
  height:25px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:88px;
  width:406px;
  height:192px;
}
#u137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:192px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
